<!DOCTYPE html>
<html lang="en">

<%- include("./shared/head.ejs", {title : "Defect Tracker" }) %>

    <body>
        <%- include('./shared/navbar.ejs') %>

    <!-- hello user heading -->
    <div class="container hello-heading">
        <h1 class="helloheading">Hello, welcome to Defect Tracker</h1>
    </div>
    <!-- heading ends -->

    <!-- add bug button -->
    <form action="/logout" method="POST">
        <div class="container logout-button">
            <button type="submit" class="btn addbug-btn">Logout</button>
        </div>
    </form>
    <!-- button ends -->

    <div class="container" style="text-align: center;">
        <form action="/add" id="userForm" method="POST" style="display: block;">
            <label style="display: block;" for="name" id="form-label">Project</label>
            <input type="text" placeholder="Enter Project Name" id="form-input" name="item[name]" required>
            <label style="display: block;" for="age" id="form-label">Sr. No.</label>
            <input type="number" placeholder="Enter Sr. No." id="form-input" name="item[number]" required>
            <label style="display: block;" for="blood-group" id="form-label">Defect</label>
            <input type="text" placeholder="Enter Defect" name="item[bug]" required>
            <label style="display: block;" for="conact-number" id="form-label">Contact Number</label>
            <input type="number" name="item[cnum]" placeholder="Enter Contact Number" id="form-input" required>
            <label style="display: block;" for="address" id="form-label">Developer</label>
            <input type="text" id="form-input" placeholder="Name of the Developer" name="item[dev]" required>
            <label style="display: block;" for="date" id="form-label">Date of Defect</label>
            <input type="date" id="form-input" placeholder="Enter the date of Defect" name="item[date]" required>
            <label style="display: block;" for="status" id="form-label">Status of Defect</label>
            <input type="text" id="form-input" placeholder="Enter the status of Defect" name="item[status]" required>
            <br>
            <button type="submit" class="btn btn-lg submit-button">Submit</button></a>
        </form>
    </div>



    <div class="donor-data-heading">
        <h2 style="text-align: center;">
            Records
        </h2>
    </div>
  
    <div class="donor-data container">
      <table class = "item imp">
          <tr>
            <th>Project Name</th>
            <th>Sr. No.</th>
            <th>Defect</th>
            <th>Contact Number</th>
            <th>Developer</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
          <% items.forEach(function(item){ %>
          <tr>
              <td>
              <% if (item.name) { %>
                  <span><h1 style="color: white;"><b><%= item.name %></b></h1></span>
              <% } %>
              </td>
              <td>
              <% if (item.number) { %>
                  <span><h1 style="color: white;"><b><%= item.number %></b></h1></span>
              <% } %>
              </td>
              <td>
              <% if (item.bug) { %>
                  <span><h1 style="color: white;"><b><%= item.bug %></b></h1></span>
              <% } %>
              </td>
              <td>
              <% if (item.cnum) { %>
                  <span><h1 style="color: white;"><b><%= item.cnum %></b></h1></span>
              <% } %>
              </td>
              <td>
              <% if (item.dev) { %>
                  <span><h1 style="color: white;"><b><%= item.dev %></b></h1></span>
              <% } %>
              </td>
              <td>
              <% if (item.date) { %>
                  <span><h1 style="color: white;"><b><%= item.date %></b></h1></span>
              <% } %>
              </td>
              <td>
              <% if (item.status) { %>
                  <span><h1 style="color: white;"><b><%= item.status %></b></h1></span>
              <% } %>
              </td>
          </tr>
           <% }) %>
        </table>
      

</body>

</html>